<!--The content below is only a placeholder and can be replaced.-->
<header>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">{{ title }}</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
      </ul>
    </div>
  </nav>
</header>
<section class="container">
  <div class="col-md-4 weatherForm">
    <form [formGroup]="weatherForm" (change)="getData()">
      <div class="form-group">
        <label for="city">City</label>
        <select class="form-control" formControlName="city" id="city" required>
          <option>-- Select --</option>
          <option *ngFor="let city of cities">{{ city }}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="scale">Scale</label>
        <select id="scale" formControlName="scale" class="form-control" [value]='' (change)="getData()" required>
          <option value="">-- Select --</option>
          <option value="M">Celsius</option>
          <option value="I">Fahrenheit</option>
        </select>
      </div>
    </form>
  </div>
  <div class="col-md-8 weatherData">
    <div id="chartContainer" style="width: 100%; height: 400px;"></div>
    <br>
    <div class="panel panel-default">
      <div class="panel-body">
        <table class="table table-striped dataTable">
          <thead>
          <tr>
            <th>Date</th>
            <th>Temperature</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of tableData">
            <td>{{ item.date }}</td>
            <td>{{ item.temperature }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<router-outlet></router-outlet>
